<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merci, votre commande est validée</h1>
    <p>
      Nous vous remercions de votre visite
    </p>
    
		<p> À très vite sur cutekitty </p>
  </body>
</html>