$(document).ready(function() {
$('#number').hide().html("<%= j render 'addcart'%>").fadeIn("slow");
console.log($('#number').find('li'))
$('#flash').hide().html("<div class='alert alert-dismissible alert-success'><h3> Ajouté au panier !</h3></div>").fadeIn("slow");
});
