<div class="jumbotron2", align="center">
  <h3 class="display-4" style="color:white">Contactez-nous! </h3><br><br><br><br>
  <p class="lead"></p>
  
  <p></p>
  <p class="lead">
    <a></a>
  </p>
</div>


<div class="col-sm-6 col-md-4 mb-7 mb-md-0">
          <h2 class="h4">Nice, France</h2>
          <span class="d-block text-secondary">Office</span>

          <hr class="my-5">

          <address>
            <!-- Contacts List -->
            <ul class="list-unstyled text-secondary">
              <li class="media align-items-center pb-2"> 
								<i class="fas fa-thumbtack"></i>
								&nbsp;&nbsp;&nbsp;
                <div class="media-body">
                    Cute Kitty, la rue des cute kitties, Nice 
                </div>

              </li>

              <li class="media align-items-center py-2">
								<i class="fas fa-clock"></i>
								&nbsp;&nbsp;&nbsp;
                <div class="media-body">
                  Lun-Ven: 9h - 18h
                </div>
              </li>

              <li class="media align-items-center py-2">
                <i class="fas fa-phone"></i>
								&nbsp;&nbsp;&nbsp;
                <div class="media-body">
                  (+33) 6.23.45.54.22
                </div>
              </li>
							
							<li class="media align-items-center py-2">
                <i class="far fa-envelope"></i>
								&nbsp;&nbsp;&nbsp;
                <div class="media-body">
                  cutekitty@cutekitty.com
                </div>
              </li>
            </ul>
            <!-- End Contacts List -->
          