<br><br><h2 align="center">Merci, votre paiement de 5.00€ a bien été pris en compte</h2>
<br><br>

<div align="center">
<%= link_to "Retour à la page d'accueil", root_path, class: "btn btn-primary" %>
</div>