<br><br><%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <div align="center">
    <label class="amount">
      <h2>Total à payer: 5.00€</h2>
    </label>
      </div>
  </article>
<div align="center">
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Paiement"
          data-amount="500"
          data-currency="eur"
          data-locale="auto"></script>
    </div>
<% end %>